{% extends 'addtool/base.html' %}

{% block content %}
{% if form.errors %}
<p>Password oder Benutzername falsch, versuche es nochmal.</p>
{% endif %}

{% if next %}
    <p>Anmelden um die Seite zu sehen.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="form-group">
	{{ form.username.label_tag }}
{{ form.username }}
</div>
<div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
</div>
	<script>
		$('.form-group  input').addClass("form-control");
	</script>

<input type="submit" value="login" class="btn btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}
