{% extends 'addtool/base.html' %}
{% block content %}
<h1>Addressen eintragen</h1>
<p>Listenschlüssel: {{list.slug}}</p>
<form class="form" method="post" action="">
	{% csrf_token %}
	<div class="form-row">
		<div class="col-md-2 col-lg-1">
			<label for="plz">
				PLZ
			</label>
			<input type="text" name="plz" id="plz_input" class="form-control">
			</input>
		</div>
		<div class="col-md-3 col-lg-1">
			<label  for="place">
				Ort
			</label>
			<input type="text" name="place" id="place_input" class="form-control">
			</input>
		</div>
		<div class="col-lg-2 col-md-3">
			<label  for="first_name">
				Vorname
			</label>
			<input type="text" name="first_name" id="first_name" class="form-control">
			</input>
		</div>
		<div class="col-lg-2 col-md-3">
			<label  for="last_name">
				Nachname
			</label>
			<input type="text" name="last_name" id="last_name" class="form-control">
			</input>
		</div>
		<div class="col-lg-1 col-md-2">
			<label  for="anrede">
				Anrede
			</label>
			<input type="text" name="anrede" id="anrede" class="form-control">
			</input>
		</div>
		<div class="col-lg-2 col-md-3">
			<label  for="street">
				Strasse
			</label>
			<input type="text" name="street" id="street_input" class="form-control">
			</input>
		</div>
		<div class="col-lg-1 col-md-2">
			<label  for="nr">
				Nr.
			</label>
			<input type="text" name="nr" id="nr_input" class="form-control">
			</input>
		</div>
		<div class="col-lg-1 col-md-2">
			<label  for="birthday">
				Geburtstag
			</label>
			<input type="text" name="birthday" id="birthday" class="form-control">
			</input>
		</div>
		<div class="col-lg-1 col-md-2">
			<label  for="invalid">
				Ungültig
			</label>
			<input type="text" name="invalid" id="invalid" class="form-control">
			</input>
		</div>
	</div>
	<label  for="submit">
	</label>
	<input type="submit" class="btn btn-primary mt-1 mb-1 float-right" value="Hinzufügen +"></input>
</form>

<table id="addresses" class="display table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>#</th>
			<th>PLZ</th>
			<th>Ort</th>
			<th>Vorname</th>
			<th>Nachname</th>
			<th>Anrede</th>
			<th>Strasse</th>
			<th>Nr.</th>
			<th>Geburtstag</th>
			<th>Ungültig</th>
		</tr>
	</thead>
	<tbody>
		{% for a in list.address_set.all %}
		<tr>
			<td>
				<a href="/update/{{a.pk}}/">{{a.pk}}</a>
			</td>
			<td>
				{{a.plz}}
			</td>

			<td>
				{{a.place}}
			</td>
			<td>
				{{a.first_name}}
			</td>
			<td>
				{{a.last_name}}
			</td>
			<td>
				{{a.anrede}}
			</td>
			<td>
				{{a.street}}
			</td>
			<td>
				{{a.nr}}
			</td>

			<td>
				{{a.birthday}}
			</td>
			<td>
				{{a.invalid}}
			</td>
		{% endfor %}
				
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>#</th>
			<th>PLZ</th>
			<th>Ort</th>
			<th>Vorname</th>
			<th>Nachname</th>
			<th>Anrede</th>
			<th>Strasse</th>
			<th>Nr.</th>
			<th>Geburtstag</th>
			<th>Ungültig</th>
		</tr>
	</tfoot>
</table>

<script>
	$( function() {
		function update_filters(exclude){
			var plz = $('#plz_input').val();
			var place = $('#place_input').val();
			var street = $('#street_input').val();
			var nr = $('#nr_input').val();
			var fs = '&plz='+plz+'&place='+place+'&street='+street+'&nr='+nr;
			var fields = ['plz', 'place', 'street', 'nr']
			for(var i = 0; i < 4; i++){
				var f = fields[i];
				if(exclude!=f){
					$.ajax({url: "/filter/?field="+ f + fs, success: function(data){
						var f = data['content']['field'];
						$( "#" + f + "_input" ).autocomplete({
							minLength: 1,
							source: data['content']['result']
						});
						return data;
					}});
				}
			}
		}

		$('#plz_input').change(function(){
			update_filters('');
		});
		$('#place_input').change(function(){
			update_filters('place');
		});
		$('#street_input').change(function(){
			update_filters('street');
		});
		$('#nr_input').change(function(){
			update_filters('nr');
		});
		update_filters('all');

		$('#addresses').dataTable( {
		} );
		$.urlParam = function(name){
			var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
			return results[1] || 0;
		}
		var plz = $.urlParam('plz');
		if(plz){
			$('#plz_input').val(plz);
		}
		var place = decodeURI($.urlParam('place'));
		if(place){
			$('#place_input').val(place);
		}

		$( "#first_name" ).autocomplete({
			minLength: 0,
			source: [{%for name in first_names %}"{{name}}"{%if not forloop.last %},{%endif%}{%endfor%}]
		});
		$( "#last_name" ).autocomplete({
			minLength: 0,
			source: [{%for name in last_names %}"{{name}}"{%if not forloop.last %},{%endif%}{%endfor%}]
		});
		$("#plz_input").focus().select();

	});
</script>
{% endblock %}
