{% extends 'addtool/base.html' %}

{% block content %}
<h1>Addresse aktualisieren</h1>
<form class="" method="post">
	{%csrf_token%}
	{% for field in form %}
	<div class="form-group">
		{{ field.errors }}
		{{ field.label_tag }} {{ field }}
		{% if field.help_text %}
		<p class="help">{{ field.help_text|safe }}</p>
		{% endif %}
	</div>
	{% endfor %}

	<button type="submit" class="btn btn-primary mb-2">Speichern</button>
</form>
<form class="" method="post" action="/delete/{{object.pk}}/">
	{%csrf_token%}
	<div class="form-group">
	<label for="slug">Listenschlüssel</label>
	<input type="text" name="slug" class="form-control">
	</div>
	<button type="submit" class="btn btn-danger mb-2">Löschen</button>
</form>
	<script>
		$('.form-group > input').addClass('form-control');
	</script>
{% endblock %}
