{% extends 'addtool/base.html' %}

{% block content %}
<h1>Addresstool</h1>
<div class="row">
	<div class="col-6">
		<h2><a href="/list/?slug={{slug}}">Neue Liste anfangen</a></h2>
	</div>
	<div class="col-6">
		<h2>Liste öffnen</h2>
		<form method="get" action="/list/">
			<div class="form-group">
				<label for="slug">Schlüssel</label>
			<input type="text" name="slug" class="form-control"></input>
			</div>
			<input class="btn btn-primary" type="submit" value="Los"></input>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<h2>Herunterladen</h2>
		<form method="get" action="/export/">
			<div class="form-group">
			<label for="slugs">Schlüssel mit , getrennt eingeben</label>
			<input type="text" name="slugs" class="form-control"></input>
			</div>
			<input class="btn btn-primary" type="submit" value="Los"></input>
		</form>
	</div>
</div>
	{% endblock %}
